@import './reset.css';

:root {
    --app-dark-blue:#1a1d28;
    --app-pink:#a70649;
    --app-pink-hover:#940641;
    --app-light-bg: rgba(221, 221, 221, 0.5);
    --text-color: rgb(0, 0, 0, 0.8);;
}

body {
    background-color: #1a1d28;
    height: 100vh;
    color: var(--text-color);
}


html {
    scroll-behavior: smooth;
    transition: all 0.25s ease-in-out;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

main {
    display: grid;
    place-items: center;
    height: 100vh;
    position: relative;
}


/* -------------------------------- */
/* Star Display                    */
/* -------------------------------- */

.star-display {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 25px 0px;
    height: 200px;
}

.stars {
    display: flex;
    margin-inline: auto;
}

h2 {
    margin-top: 20px;
    text-align: center;
    color: rgb(255, 255, 255, 0.7);
}

.star-element {
    color: rgba(63, 72, 99, 0.8);
    font-size: 5rem;
    cursor: pointer;
}

.rate {
    color: #ffa500;
}

.no-rate {
    color: rgba(63, 72, 99, 0.8);
}

  

/* -------------------------------- */
/* Button                         */
/* -------------------------------- */

button.show-dialog-button {
    width: 150px;
    height: 46px;
    color: #fff;
    font-size:16px;
    border-radius: 25px;
    transition: all 0.25s ease-in-out;
    border: 1px solid transparent;
    background-color: var(--app-pink);
    bottom: 20px;
    position: fixed;
    right: 10%;
}

.hide-visibility {
    visibility: hidden;
    opacity: 0;
}

.show-dialog {
    display: grid;
    place-content: center;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 15px;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    text-align: center;
    transition: all 0.25s ease-in-out;
}


.show-dialog p {
    font-size: 20px;
}


.show-visibility {
    visibility: visible;
    opacity: 1;
}

button.close-dialog {
    margin-top: 25px;
    width: 150px;
    height: 46px;
    color: var(--app-pink);
    font-size:16px;
    border-radius: 25px;
    transition: all 0.25s ease-in-out;
    border: 1px solid transparent;
    background-color: #fff;
    border: 1px solid var(--app-pink);
    margin-inline: auto;
}

button.close-dialog:hover {
    color: #fff;
    background-color: var(--app-pink);
}
